// grid variables
$grid-columns: 12;
$grid-max-width: 1920px;

// breakpoints
$breakpoint-small: "only screen and (min-width: 768px)";
$breakpoint-medium: "only screen and (min-width: 1024px)";
$breakpoint-large: "only screen and (min-width: 1600px)";
