doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Slider
    <!--[if IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/classlist/1.2.20171210/classList.min.js")
    <![endif]-->
  body
    include layout/header.pug
    include layout/main.pug
    include layout/footer.pug
